In [24]:
### libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import yfinance as yf
from datetime import datetime as dt
from datetime import timedelta

In [38]:
#set the time 
endtime = dt.now()
starttime = endtime-timedelta(days=1000)

In [49]:
#import necessery data from yahoo finance
tickers = ['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'IEF']
date = yf.download(tickers, starttime, endtime)
close_prices = date['Adj Close']

[*********************100%%**********************]  5 of 5 completed

In [47]:
dividends = {}
for ticker in tickers:
    stock = yf.Ticker(ticker)
    dividends[ticker] = stock.dividends
    
dividends = pd.DataFrame(dividends)

In [50]:
dividends.tail()

                           AAPL  MSFT  GOOGL  AMZN    IEF
Date
2024-05-10 00:00:00-04:00  0.25   NaN    NaN   NaN    NaN
2024-05-15 00:00:00-04:00   NaN  0.75    NaN   NaN    NaN
2024-06-03 00:00:00-04:00   NaN   NaN    NaN   NaN  0.276
2024-06-10 00:00:00-04:00   NaN   NaN    0.2   NaN    NaN
2024-07-01 00:00:00-04:00   NaN   NaN    NaN   NaN  0.285

In [41]:
#daily returns
daily_returns = close_prices.pct_change()
daily_returns

Ticker          AAPL      AMZN     GOOGL       IEF      MSFT
Date
2021-11-03       NaN       NaN       NaN       NaN       NaN
2021-11-04 -0.003499  0.027482  0.011388  0.005417  0.007305
2021-11-05  0.003582  0.012076  0.003942  0.005474 -0.001129
2021-11-08 -0.005553 -0.008528  0.001202 -0.004321  0.002767
2021-11-09  0.002460  0.025007 -0.000755  0.004601 -0.003086
...              ...       ...       ...       ...       ...
2024-07-23  0.004688  0.021145  0.000661  0.000741  0.004312
2024-07-24 -0.028754 -0.029934 -0.050388 -0.002221 -0.035855
2024-07-25 -0.004805 -0.005419 -0.030991  0.002226 -0.024481
2024-07-26  0.002161  0.014734 -0.001674  0.004759  0.016420
2024-07-29  0.002111  0.003725  0.015269  0.001105  0.003715

[686 rows x 5 columns]

In [35]:
#monthly returns
monthly_returns = close_prices.resample('ME').ffill().pct_change()
monthly_returns

Ticker          AAPL      AMZN     GOOGL       IEF      MSFT
Date
2023-08-31       NaN       NaN       NaN       NaN       NaN
2023-09-30 -0.088678 -0.078907 -0.038995 -0.031388 -0.036643
2023-10-31 -0.002570  0.046963 -0.051811 -0.019277  0.070815
2023-11-30  0.113780  0.097678  0.068101  0.045545  0.122946
2023-12-31  0.013583  0.040044  0.054026  0.037723 -0.007574
2024-01-31 -0.042227  0.021456  0.002935  0.000726  0.057281
2024-02-29 -0.018543  0.138918 -0.011706 -0.020826  0.042318
2024-03-31 -0.051286  0.020480  0.090062  0.007332  0.017116
2024-04-30 -0.006706 -0.029826  0.078513 -0.031298 -0.074610
2024-05-31  0.130222  0.008229  0.059712  0.018002  0.068191
2024-06-30  0.095553  0.095273  0.057154  0.012170  0.076651
2024-07-31  0.037342 -0.052564 -0.069503  0.018744 -0.045173

In [42]:
#annual returs
annual_returns = close_prices.resample('YE').ffill().pct_change()
annual_returns

Ticker          AAPL      AMZN     GOOGL       IEF      MSFT
Date
2021-12-31       NaN       NaN       NaN       NaN       NaN
2022-12-31 -0.264042 -0.496152 -0.390895 -0.151552 -0.280247
2023-12-31  0.490081  0.808810  0.583248  0.036444  0.581913
2024-12-31  0.137461  0.205607  0.215152  0.003702  0.139269